.TodoItem{
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    display: flex;
}
.TodoItem img{
    margin-left: 20px;
    margin-right: 20px;
}
.TodoItem-complete{
    text-decoration: line-through;
    opacity: .3;
}
