.payment h3 {
  text-align: center;
  margin: 40px;
}
.form-payment {
  max-width: 300px;
  margin: auto;
}
.form-payment input,
.form-payment textarea {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
}
.payment a {
  text-decoration: none;
  color: black;
}
